# Default ignored files
/shelf/
/workspace.xml

# IntelliJ IDEA / Android Studio 관련 무시 파일
.idea/
/*.iml

# Gradle 관련 무시 파일
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 추가한 항목들
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.idea/deploymentTargetSelector.xml
.idea/other.xml
